{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ],
    ["@babel/stage-0", { "decoratorsLegacy": true }],
    "@babel/react",
    "@babel/typescript"
  ],
  "plugins": []
}
