{
  "presets": [
    ["@babel/env", { "useBuiltIns": "usage" }],
    ["@babel/stage-0", { "decoratorsLegacy": true, "loose": true }],
    "@babel/typescript",
    "@babel/react"
  ],
  "plugins": [
    "lodash",
    "react-hot-loader/babel",
    ["webpack-alias", { "config": "./config/webpack/resolvers.js" }]
  ]
}
