{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "jest"
  ],
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:jest/recommended"
  ],
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
    "react/jsx-filename-extension": ["error", { "extensions": [".jsx"] }]
  },
  "settings": {
    "ecmascript": 6,
    "jsx": true,
    "import/resolver": "webpack"
  }
}
